@page
@model Fryzjer.Pages.RegisterModel
@{
    ViewData["Title"] = "Rejestracja";
}

<h1>Rejestracja</h1>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="alert alert-danger">@Model.ErrorMessage</div>
}

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label for="Client_Name">Imię</label>
        <input type="text" id="Client_Name" name="Client.Name" class="form-control" asp-for="Client.Name" />
        <span asp-validation-for="Client.Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Client_Surname">Nazwisko</label>
        <input type="text" id="Client_Surname" name="Client.Surname" class="form-control" asp-for="Client.Surname" />
        <span asp-validation-for="Client.Surname" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Client_Gender">Płeć</label>
        <select id="Client_Gender" name="Client.Gender" class="form-control" asp-for="Client.Gender">
            <option value="M">Mężczyzna</option>
            <option value="K">Kobieta</option>
            <option value="N">Inne</option>
        </select>
        <span asp-validation-for="Client.Gender" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Client_Login">Login</label>
        <input type="text" id="Client_Login" name="Client.Login" class="form-control" asp-for="Client.Login" />
        <span asp-validation-for="Client.Login" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Client_Password">Hasło</label>
        <input type="password" id="Client_Password" name="Client.Password" class="form-control" asp-for="Client.Password" />
        <span asp-validation-for="Client.Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Client_Phone">Numer telefonu</label>
        <input type="text" id="Client_Phone" name="Client.Phone" class="form-control" asp-for="Client.Phone" />
        <span asp-validation-for="Client.Phone" class="text-danger"></span>
    </div>

    <button id="form_button" type="submit" class="btn btn-primary">Zarejestruj</button>
</form>
