@page
@model Fryzjer.Pages.Admin.SalonListModel

@{
    ViewData["Title"] = "Our Places";
}

<h1>Our Places</h1>

<div class="row">
    @foreach (var place in Model.Places)
    {
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="@place.logoPath" alt="Logo" />
                <div class="card-body">
                    <h5 class="card-title">@place.Name</h5>
                    <p class="card-text">@place.address</p>
                    <p class="card-text">@place.telephoneNumber</p>
                </div>
            </div>
        </div>
    }
    }
</div>
