@page
@model Fryzjer.Pages.Admin.AddEmployeeModel
<h2>Dodaj nowego pracownika</h2>
<form method="post">
    <div class="form-group">
        <label asp-for="NewHairdresser.login">Login:</label>
        <input asp-for="NewHairdresser.login" class="form-control" required />
        <span asp-validation-for="NewHairdresser.login" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewHairdresser.Name">Imię:</label>
        <input asp-for="NewHairdresser.Name" class="form-control" required />
        <span asp-validation-for="NewHairdresser.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewHairdresser.Surname">Nazwisko:</label>
        <input asp-for="NewHairdresser.Surname" class="form-control" required />
        <span asp-validation-for="NewHairdresser.Surname" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewHairdresser.password">Hasło:</label>
        <input asp-for="NewHairdresser.password" type="password" class="form-control" required />
        <span asp-validation-for="NewHairdresser.password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewHairdresser.PlaceId">Lokal:</label>
        <select asp-for="NewHairdresser.PlaceId" class="form-control">
            <option value="">Wybierz lokal</option>
            @foreach (var place in Model.Places)
            {
                <option value="@place.Id">@place.Name</option>
            }
        </select>
        <span asp-validation-for="NewHairdresser.PlaceId" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Zapisz</button>
    <a href="@Url.Page("/Admin/Employee/EmployeeManagement")" class="btn btn-secondary">Powrót</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}