@page
@model Fryzjer.Pages.Admin.DeleteEmployeeModel

@{

    ViewData["Title"] = "Usuń pracownika";
}

<h2>@ViewData["Title"]</h2>

<div class="alert alert-warning" role="Alert">
    <p>Na pewno chcesz usunąć tego pracownika?</p>
    <p><strong>@Model.Hairdresser.Name @Model.Hairdresser.Surname</strong></p>
</div>

<form method="post">
    <button type="submit" class="btn btn-danger">Usuń</button>
    <a href="@Url.Page("/Admin/Employee/EmployeeManagement")" class="btn btn-secondary">Anuluj</a>
</form>
