html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.schedule-container {
    margin-top: 20px;
}

.schedule-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

    .schedule-table th, .schedule-table td {
        border: 1px solid #ddd;
        text-align: center;
        vertical-align: middle;
        padding: 8px;
    }

    .schedule-table th {
        background-color: #f4f4f4;
        font-weight: bold;
        position: sticky;
        top: 0;
    }

.time-column {
    background-color: #f9f9f9;
    font-weight: bold;
}

.reserved {
    background-color: #ffcccc; /* Czerwony dla rezerwacji */
    color: #333;
}

.available {
    background-color: #ccffcc; /* Zielony dla dostêpnych */
    color: #333;
}

.service-1 {
    background-color: #ff9999; /* Kolor specyficzny dla us³ugi 1 */
}

.service-2 {
    background-color: #99ccff; /* Kolor specyficzny dla us³ugi 2 */
}

.service-3 {
    background-color: #ffff99; /* Kolor specyficzny dla us³ugi 3 */
}

/* Dodaj delikatne linie co 15 minut */
.schedule-table td {
    position: relative;
}

    .schedule-table td::after {
        content: '';
        display: block;
        border-bottom: 1px dashed #ddd;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }

.bg-bluegray {
    background-color: rgb(141, 160, 168)
}

.bg-teal {
    background-color: Teal;
}

.bg-lblue {
    background-color: lightblue;
}

.content-padding {
    padding: 10px;
    padding-bottom: 20px;
}

.hover_div {
    background-color: rgb(248, 249, 250);
}

    .hover_div:hover {
        background-color: Teal;
        color: white;
        cursor: pointer;
    }

#form_button {
    margin-top: 15px;
    margin-bottom: 15px;
}

a.invisible_link {
    color: inherit;
    text-decoration: none;
}