@page
@model Fryzjer.Pages.AccessDeniedModel
@{
    ViewData["Title"] = "Brak Dostępu";
}

<h2>@ViewData["Title"]</h2>
<br />

<h3>Wiadomość tymczasowa</h3>
<p>Jeśli to widzisz to prawdopodobnie chcesz dostać się do elementu z poziomu użytkownika który nie ma do tego dostępu.</p>
<p>Jak jednak ma mieć dostęp to musisz przenieść plik .cshtml i podrzędne do odpowiedniego folderu, a następnie zmienić wszystkie odwołania na poprawne.</p>
<br />
<p><b>Gif na pocieszenie</b></p>

<img src="https://media1.tenor.com/m/SSO1G6rWn4IAAAAd/i-cant-fucking-take-it.gif" />