@page
@model Fryzjer.Pages.ViewSalonModel
@{
}

<h1> Przeglądanie danych dla lokalu "@Model.Place?.Name"</h1>
<h4>
	Numer telefonu: @Model.Place?.telephoneNumber <br>
	Adres lokalu: @Model.Place?.address <br>
</h4>

