@page
@model DeleteSalonModel
@{
    ViewData["Title"] = "Usuń lokal";
}

<h2>Usuń lokal</h2>

<h3>Czy na pewno chcesz usunąć ten lokal?</h3>
<div>
    <h4>@Model.Place.Name</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Adres:</dt>
        <dd class="col-sm-10">@Model.Place.address</dd>

        <dt class="col-sm-2">Numer telefonu:</dt>
        <dd class="col-sm-10">@Model.Place.telephoneNumber</dd>

        @if (!string.IsNullOrEmpty(Model.Place.logoPath))
        {
            <dt class="col-sm-2">Logo:</dt>
            <dd class="col-sm-10">
                <img src="@Model.Place.logoPath" alt="Logo" width="150" height="150" />
            </dd>
        }
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Place.Id" />
        <button type="submit" class="btn btn-danger">Usuń</button>
        <a asp-page="SalonList" class="btn btn-secondary">Anuluj</a>
    </form>
</div>
